:root {
  /* Card Types */
  --ally: #6c47a6;
  --hero: #00a7ea;
  --condition: #009344;
  --equipment: #565c6d;
  --location: #f48a20;
  --maneuver: #ec0b8c;
  --villain: #ac082a;
  /* Tag Types */
  --agility: #f68b1f;
  --asgard: #b17e77;
  --boss: #ed1d24;
  --flight: #00a5e3;
  --gamma: #88ac2e;
  --intel: #2c0d2e;
  --mutant: #00487a;
  --range: #784ea7;
  --strength: #168149;
  --tech: #c30847;
  --urban: #ec0b8c;
  --wakanda: #682329;
  --worthy: #968359;
}
